name: net

permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'net/src/**'
      - 'net/tests/**'
      - 'net/Cargo.toml'
      - 'lite/src/**'
      - 'lite/tests/**'
      - 'lite/Cargo.toml'
  push:
    branches:
      - main
    paths:
      - 'net/src/**'
      - 'net/tests/**'
      - 'net/Cargo.toml'
      - 'lite/src/**'
      - 'lite/tests/**'
      - 'lite/Cargo.toml'
  schedule: [cron: "0 1 */7 * *"]
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust
        # --no-self-update is necessary because the windows environment cannot self-update rustup.exe.
        run: rustup update ${{ matrix.rust }} --no-self-update && rustup default ${{ matrix.rust }}
      - run: |
          export MACOSX_DEPLOYMENT_TARGET=14.5
          cargo test --all-features -p agnostic-net -- --nocapture
        working-directory: agnostic-net

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust
        run: rustup update stable
      - run: cargo clippy --all-features --all-targets -p agnostic-net
        working-directory: agnostic-net

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust
        run: rustup update stable
      - run: cargo fmt --all --check -p agnostic-net
        working-directory: agnostic-net
